@using Musician.MVC.Models.ViewModels;
@model List<CardModel>

<div class="row">
    <div class="col-md-2 col-sm-2 col-12">
        <h1 class="display-6 fs-4 text-danger fw-normal ps-1"></h1>

    </div>
    @foreach (var card in Model)
    {
        <div class="col-sm-6 col-lg-4">
        <div class="single_special_cource " >
            <img src="img/special_cource_1.png" class="special_img" alt="">
            <div class="special_cource_text">
                <a href="course-details.html" class="btn_4">@Model</a>
                <h4>$130.00</h4>
                <a href="course-details.html">
                    <h3>Web Development</h3>
                </a>
                <p>Which whose darkness saying were life unto fish wherein all fish of together called</p>

            </div>

        </div>
    </div>
    }
    
</div>
