@using Musician.MVC.Models.ViewModels;

@model List<CardModel>
@if (Model == null || Model.Count == 0)
{
    <!-- banner part start-->
    @await Html.PartialAsync("_BannerPartial")
    <!-- banner part end-->
    <!-- member_counter counter start -->
    @await Html.PartialAsync("_CounterPartial")
    <!-- member_counter counter end -->

    <!-- feature_part start-->
    @await Html.PartialAsync("_FuturePartial")
    <!-- upcoming_event part start-->
    <!-- learning part start-->
    @await Html.PartialAsync("_LearningPartial")
    <!-- learning part end-->


    <!-- learning part start-->
    @await Html.PartialAsync("_AdvancePartial")
    <!-- learning part end-->
    <!-- footer part start-->
    @await Html.PartialAsync("_FooterPartial")
    <!-- footer part end-->

}
else
{

    <section class="special_cource padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">

                        
                        <h2 style="">@Model.FirstOrDefault().EnstrumentName Öğretmenleri</h2>
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("SearchPartial")
        </div>
    </section>







}
