@using Musician.MVC.Models.ViewModels;
@model List<EnstrumentViewModel>


    
    @foreach (var enstrument in Model)
    {
        
        <li class="menu-item">
            <a asp-area="Admin"
           asp-controller="Home"
       asp-action="Enstruments"
           asp-route-id="@enstrument.NormalizedEnstrumentName" class="menu-link ">
                <div data-i18n="Dropdowns">@enstrument.Name</div>
            </a>
        </li>
    }
