<<<<<<< HEAD
/* _content/Musician.MVC/Areas/Admin/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-gjatdvukxe] {
=======
/* _content/Musician.MVC/Views/Shared/_Layout - Copy.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-vxz70wra30] {
>>>>>>> 5e78a95da77671fc536ce3dbf0d7cbdcd5348791
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

<<<<<<< HEAD
a[b-gjatdvukxe] {
  color: #0077cc;
}

.btn-primary[b-gjatdvukxe] {
=======
a[b-vxz70wra30] {
  color: #0077cc;
}

.btn-primary[b-vxz70wra30] {
>>>>>>> 5e78a95da77671fc536ce3dbf0d7cbdcd5348791
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

<<<<<<< HEAD
.nav-pills .nav-link.active[b-gjatdvukxe], .nav-pills .show > .nav-link[b-gjatdvukxe] {
=======
.nav-pills .nav-link.active[b-vxz70wra30], .nav-pills .show > .nav-link[b-vxz70wra30] {
>>>>>>> 5e78a95da77671fc536ce3dbf0d7cbdcd5348791
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

<<<<<<< HEAD
.border-top[b-gjatdvukxe] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-gjatdvukxe] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-gjatdvukxe] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-gjatdvukxe] {
=======
.border-top[b-vxz70wra30] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-vxz70wra30] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-vxz70wra30] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-vxz70wra30] {
>>>>>>> 5e78a95da77671fc536ce3dbf0d7cbdcd5348791
  font-size: 1rem;
  line-height: inherit;
}

<<<<<<< HEAD
.footer[b-gjatdvukxe] {
=======
.footer[b-vxz70wra30] {
>>>>>>> 5e78a95da77671fc536ce3dbf0d7cbdcd5348791
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Musician.MVC/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-lgwv8gwwyp] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-lgwv8gwwyp] {
  color: #0077cc;
}

.btn-primary[b-lgwv8gwwyp] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-lgwv8gwwyp], .nav-pills .show > .nav-link[b-lgwv8gwwyp] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-lgwv8gwwyp] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-lgwv8gwwyp] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-lgwv8gwwyp] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-lgwv8gwwyp] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-lgwv8gwwyp] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
