<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="/admin/Home/index" class="app-brand-link">

            <span class="app-brand-text demo menu-text fw-bolder "> Admin Panel</span>


        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item active">
            <a href="/" target="_blank" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Siteye Git</div>
            </a>
        </li>



        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Kullanıcılar</span>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Account Settings">Tüm Kullanıcılar</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Users" asp-route-role="User" class="menu-link">
                        <div data-i18n="Account">Tüm Kullanıcılar</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Users" asp-route-role="Admin" class="menu-link">
                        <div data-i18n="Account">Adminler</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Users" asp-route-role="Teacher" class="menu-link">
                        <div data-i18n="Account">Öğretmenler</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Users" asp-route-role="Student" class="menu-link">
                        <div data-i18n="Account">Öğrenciler</div>
                    </a>
                </li>

            </ul>
        </li>


        <!-- Components -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">İlanlar</span></li>
        <!-- Cards -->
        <!-- User interface -->
        <li class="menu-item">
            <a href="javascript:void(0)" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-box"></i>
                <div data-i18n="User interface">Tüm İlanlar</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a asp-area="Admin"
                       asp-controller="Home"
                       asp-action="Enstruments"
                       asp-route-id="" class="menu-link ">
                        <div data-i18n="Dropdowns">Tümünü Gör</div>
                    </a>
                </li>
                @await Component.InvokeAsync("Enstruments")

            </ul>
        </li>

        <li class="menu-header small text-uppercase"><span class="menu-header-text">Satın Alma İşlemleri</span></li>

        <li class="menu-item">
            <a asp-area="Admin" asp-controller="Home" asp-action="Requests" class="menu-link">
                <i class="menu-icon tf-icons bx bx-table"></i>
                <div data-i18n="Tables">Satın Alımlar</div>
            </a>
        </li>
    </ul>
</aside>