<section class="advance_feature learning_part">
        <div class="container">
            <div class="row mb-5 pb-5 pt-0 mt-0 align-items-sm-center align-items-xl-stretch">
            <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="learning_member_text">
                    <h5>Öðretmen Tercihim Neden Öðrenme Garantisi Verir?</h5>
                        <h2>
                        Ýhtiyaçlarýnýza Göre Kiþiselleþtirilmiþ
                    </h2>
                        <p>
                        Ýhtiyaçlarýnýza ve öðrenme stilinize en uygun uzman öðretmeni bulun. Bireysel öðrenme ihtiyaçlarýnýza odaklanmak için uzman öðretmenlerle birebir özel dersler saðlýyoruz. Her özel ders sizin öðrenme hýzýnýza göre tasarlanýyor. Öðretmenlerimiz müfredatýný size en uygun olacak þekilde tasarlýyor. Kiþiselleþtirilmiþ özel ders seanslarýmýz, binlerce öðrencinin sýnýf ortamýnda aldýðýndan daha iyi bir eðitim almasýna yardýmcý oluyor. Üstelik belirli bir konu hakkýnda ihtiyaç duyduðunuz bilgileri ele alma özgürlüðüne sahipsiniz.
                        </p>
                       
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="learning_img">
                        <img src="img/advance_feature_img.png" alt="">
                    </div>
                </div>
            </div>
        <div class="row pt-5 mt-5">
            <div class="col-sm-6 col-md-6 col-lg-6 pt-5">
                <div class="learning_member_text_iner">
                    
                    <h4>Yüksek Kalitede Eðitimler</h4>
                    <p>En iyi öðretmenlerden öðrenin. Türkiye’nin en yetkin öðretmenleriyle özel dersler gerçekleþtirin. Öðretmen Tercihim’ deki bütün öðretmenler en özenli þekilde taranarak sisteme dahil edilmektedir. Bir öðretmen için tüm öðrencilerin dönüþleri en yüksek önemle deðerlendirilir. Öðrenci yorumlarý tamamen objektif bir þekilde öðretmen profillerinde sergilenmektedir. Yüksek kalitede özel ders gerçekleþtirmek için en güncel teknolojiler kullanýlmaktadýr. Tüm özel ders ihtiyaçlarýnýz için en iyi öðretmenler ve en güncel teknolojik alt yapý sizlerin hizmetinde.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 pt-5">
                <div class="learning_member_text_iner">
                    
                    <h4>Tüm Süreçleriniz Garanti Altýnda</h4>
                    <p>Tüm süreçleriniz Öðretmen Tercihim güvencesi altýnda. Bahanesi, koþulu yok. Memnun kalmadýðýnýz özel ders ücreti anýnda hesabýnýza iade. %100 öðrenme ve memnuniyet garantisi ile hizmet veriyoruz. Eðitimin ne kadar önemli ve riske edilemeyeceðini biliyoruz. 7 gün 24 saat boyunca hizmet alabilir, en iyi öðretmenler ile iletiþime geçebilirsiniz. Tüm bu süreçlerde hem paranýz hem de kiþisel bilgileriniz en yüksek güvenlik önlemleri ile korunur. Güçlü müþteri hizmetleri aðýmýzla her zaman iletiþime geçebilirsiniz. Sizleri daha kaliteli bir eðitim süreci ile tanýþtýrmak için çalýþýyoruz.</p>
                </div>
            </div>
        </div>
        </div>
    </section>