 <footer class="footer-area mt-0 pt-3 pb-0 mb-0">
        <div class="container">
            <div class="row justify-content-between">
            <div class="col-sm-6 col-md-4 col-xl-3">
                    <div class="single-footer-widget footer_1">
                        <a href="/"> <img src="img/logo.png" alt="" ><span class="text-danger  "> Musician</span></a>
                        <p>
                            Online Veya Yüz Yüze, Ýstediðin Her Yerde Eðitime Varýz!
                    </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="single-footer-widget footer_2">
                        <h4>Abone Ol</h4>
                        <p>
                            .
                        </p>
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Mail adresini gir'
                                        onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'Mail adresini gir'">
                                    <div class="input-group-append">
                                        <button class="btn btn_1" type="button"><i class="ti-angle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="social_icon">
                            <a href="#"> <i class="ti-facebook"></i> </a>
                            <a href="#"> <i class="ti-twitter-alt"></i> </a>
                            <a href="#"> <i class="ti-instagram"></i> </a>
                            <a href="#"> <i class="ti-skype"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-md-4">
                    <div class="single-footer-widget footer_2">
                        <h4>Ýletiþim</h4>
                        <div class="contact_info">
                           
                            <p><span> Ýletiþim Numarasý :</span> +90 554 152 0505</p>
                            <p><span> Email : </span>met.ocguder@gmail.com </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 pb-0 mb-0 pt-0 mt-0">
                    <div class="copyright_part_text text-center pt-3 mt-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="footer-text m-0">
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> Tüm Haklarý Saklýdýr <i class="ti-heart" aria-hidden="true"></i> by <a href="https://www.linkedin.com/in/mehmetocguder/" target="_blank">Musician Team</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>