<section class="feature_part">
        <div class="container">
            <div class="row">
            <div class="col-sm-6 col-xl-3 align-self-center">
                    <div class="single_feature_text ">
<<<<<<< HEAD
                    <h2>
                        Öðrenmek hiç bu kadar
                        kolay olmadý
                    </h2>
                        
                        
=======
                        <h2>Awesome <br> Feature</h2>
                        <p>
                            Set have great you male grass yielding an yielding first their you're
                            have called the abundantly fruit were man
                    </p>
                        <a href="#" class="btn_1">Read More</a>
>>>>>>> 5e78a95da77671fc536ce3dbf0d7cbdcd5348791
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><i class="ti-layers"></i></span>
<<<<<<< HEAD
                            <h4>1. Arama yapýn</h4>
                            <p>
                            Profilleri özgürce inceleyin ve kriterlerinize uyan mükemmel öðretmeninizle iletiþime geçin (fiyatlar, diplomalar, yorumlar, evde veya online ders)
=======
                            <h4>Better Future</h4>
                            <p>
                                Set have great you male grasses yielding yielding first their to
                                called deep abundantly Set have great you male
>>>>>>> 5e78a95da77671fc536ce3dbf0d7cbdcd5348791
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><i class="ti-new-window"></i></span>
<<<<<<< HEAD
                        <h4>2. Ýletiþime geçin</h4>
                            <p>
                            Þimþek gibi hýzlý öðretmenler size birkaç saat içerisinde cevap verir! Ýdeal öðretmeninizi bulamazsanýz ekibimiz size yardýmcý olur.
=======
                            <h4>Qualified Trainers</h4>
                            <p>
                                Set have great you male grasses yielding yielding first their to called
                                deep abundantly Set have great you male
>>>>>>> 5e78a95da77671fc536ce3dbf0d7cbdcd5348791
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="single_feature">
                        <div class="single_feature_part single_feature_part_2">
                            <span class="single_service_icon style_icon"><i class="ti-light-bulb"></i></span>
<<<<<<< HEAD
                        <h4>3. Planlayýn</h4>
                            <p>
                            Öðretmeniniz veya eðitmeninizle mesajlaþma sisteminden konuþup derslerinizi özgürce planlayýn.
=======
                            <h4>Job Oppurtunity</h4>
                            <p>
                                Set have great you male grasses yielding yielding first their to called deep
                                abundantly Set have great you male
>>>>>>> 5e78a95da77671fc536ce3dbf0d7cbdcd5348791
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>