<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Musician</title>
<link rel="icon" href="~/img/logo.png">
<link rel="stylesheet" href="~/css/bootstrap.min.css" />

<link rel="stylesheet" href="~/css/animate.css" />
<link rel="stylesheet" href="~/css/owl.carousel.min.css" />
<link rel="stylesheet" href="~/css/themify-icons.css"/>
<link rel="stylesheet" href="~/css/flaticon.css"/>
<link rel="stylesheet" href="~/css/slick.css"/>
<link rel="stylesheet" href="~/css/magnific-popup.css" />
<link rel="stylesheet" href="~/css/style.css" />
    @await Html.PartialAsync("_HeaderPartial")
</head>
<body>


@RenderBody()


<script src="~/js/jquery-1.12.1.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/bootstrap.bundle.js"></script>
<script src="~/js/swiper.min.js"></script>
<script src="~/js/masonry.pkgd.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/jquery.nice-select.min.js"></script>
<script src="~/js/slick.min.js"></script>
<script src="~/js/jquery.counterup.min.js"></script>
<script src="~/js/waypoints.min.js"></script>
<script src="~/js/custom.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await Component.InvokeAsync("Notyf")
@await RenderSectionAsync("Scripts", required: false)

</body>
</html>