@if (User.Identity.IsAuthenticated)
{
    <li class="d-none d-lg-block">
        <a class="btn_1" href="#">Profilim </a>
    </li>
}
else
{
    <li class="d-none d-lg-block">
        <a class="btn_1" asp-area="" asp-controller="Account" asp-action="Login">Giriş </a>
    </li>
}



<li class="d-none d-lg-block">
    <a class="btn_1" asp-area="" asp-controller="Account" asp-action="Register">Ders Ver</a>
</li>