@if (User.Identity.IsAuthenticated)
{
    <li class="d-none d-lg-block">
        <a class="btn_1" href="#">Profilim </a>
    </li>
}
else
{
    <li class="d-none d-lg-block">
        <a class="btn_1" href="#">Giriş </a>
    </li>
}



<li class="d-none d-lg-block">
    <a class="btn_1" href="#">Ders Ver</a>
</li>