@if (User.Identity.IsAuthenticated)
{

    <li class="d-inline nav-item pt-0 mt-0">
        <a class="btn_1" asp-area="" asp-controller="Account" asp-action="Manage">Profilim </a>
    </li>
    <li class="d-inline nav-item float-end pt-0 mt-0">
        <a class="btn_1" asp-area="" asp-controller="Home" asp-action="OpenLesson">Ders Ver</a>
    </li>
    <li class="d-inline nav-item pt-0 mt-0">
        <a class="btn_1" asp-area="" asp-controller="Account" asp-action="Logout">Çıkış</a>
    </li>
}
else
{
    <li class="d-inline nav-item pt-0 mt-0">
        <a class="btn_1" asp-area="" asp-controller="Account" asp-action="Login">Giriş </a>
    </li>

    <li class="d-inline nav-item pt-0 mt-0">
        <a class="btn_1" asp-area="" asp-controller="Account" asp-action="Register">Ders Ver</a>
    </li>
}

